$primary: #9cafe0;
$secondary: #ccdbfc;
$tertiary: #ffd0a8;
$grad: lighten($primary, 20%);

body {
  margin: 0;
}

header {
  background: linear-gradient(to right, $primary, $grad 75%, $primary);
  padding: 20px;
  box-shadow: 0 3px 10px #666;

  h1 {
    margin: 0;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    color: #555;
    margin: 5px 0;
  }
}

main {
  padding: 0 5%;
  margin-top: 30px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .count {
      font-size: 18px;
      font-weight: bold;
      align-self: flex-start;
      margin-bottom: 20px;
    }

    .create-thread {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label { margin: 5px 0 0; }

      .create-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: $primary;
        border-radius: 5px;
        transition: 0.3s;

        h4 { margin: 0; }
      }

      .create-header:hover {
        background-color: lighten($primary, 8%);
        cursor: pointer;
      }

      .thread-form {
        display: none;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 0 0 5px 5px;
      }

      input,
      textarea { display: block; }

      .btn {
        margin-top: 10px;
      }
    }

    .filter-container {
      .filters {
        text-align: right;
        font-weight: bold;

        p {
          color: red;
          transition: 0.3s;
          border-radius: 5px;
          margin: 3px;

          img {
            height: 14px;
            display: none;
          }
        }

        p:hover {
          background-color: #bbb;
          cursor: pointer;
        }

        p:hover > img { display: inline; }
      }

      .filter-form {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;

        .form-control {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }

  a,
  a:hover { text-decoration: none; }

  .thread {
    background-color: $secondary;
    padding: 10px;
    border: 2px outset #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition-duration: 0.3s;

    * { margin: 0; }

    h3 {
      margin-bottom: 10px;
      font-size: 20px;
      color: #911;
    }

    .creator,
    .date {
      display: inline-block;
      font-weight: bold;
      color: #112;
      margin-bottom: 15px;
    }

    span {
      color: blue;
      margin-right: 5px;
    }

    .label {
      color: #44f;
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
      text-align: left;
      font-size: 16px;
    }

    .description {
      color: #112;
    }
  }

  .thread:hover {
    background-color: #eef;
    box-shadow: 3px 3px 6px #444;
  }
}
