extends layout

block extendHeader
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel="stylesheet", href="/stylesheets/main.css")
block content
  header
    h1 The Mega Forum
    p Talk about anything you want!
  main
    .top
      .create-thread.col-xs-12.col-sm-6
        span.count
        .create-header
          h4 Create new thread
          span.caret
        form.thread-form(action="/" method="POST")
          label(for="thread-author") Author:
          input.form-control.thread-author(type="text" id="thread-author" name="thread-author" placeholder="Author")
          label(for="thread-title") Thread title:
          input.form-control.thread-title(type="text" id="thread-title" name="thread-title" placeholder="Title")
          label(for="thread-description") Thread description:
          textarea.form-control.thread-description(id="thread-description" name="thread-description" placeholder="Description")
          button.create-btn.btn(type="submit") Create
            div
      .filter-container.col-xs-12.col-sm-6
        .filters
          // filters listed here
        .filter-form
          input.form-control(type="text")
          button.filter-btn.btn
             div Create filter
    .thread-container
      each thread in threads
        a(href="/thread/" + thread.id).col-xs-12
          .thread
            h3= thread.threadname
            span Created by
            p.creator= thread.author
            span   on
            p.date= thread.date.toJSON().slice(0,10)

            p.label Description:
            p.description= thread.text
  footer
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  script(src="/javascripts/main.js")
