.btn .caret {
  display: inline-block;
  margin-left: 10px; }

article .panel-heading {
  transition: 0.3s; }

article .panel-heading:hover {
  background-color: #ccf;
  cursor: pointer; }

article .post-title {
  font-size: 16px;
  font-weight: bold; }

article .replies {
  display: none; }
