.btn .caret {
  display: inline-block;
  margin-left: 10px; }

article .post-title {
  font-size: 16px;
  font-weight: bold; }

article .reply-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #31708f;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: #eaeef8; }

article .reply-header:hover {
  background-color: #c3ceec; }

article .replies {
  display: none; }
  article .replies .new-reply {
    display: none; }
  article .replies .form-group {
    margin: 5px; }
    article .replies .form-group textarea {
      display: inline-block;
      width: 100%; }

.back-link {
  display: block;
  font-size: 1.5em;
  margin-bottom: 50px; }

.no-replies {
  font-weight: bold; }

.date {
  margin-left: 5px;
  font-weight: bold; }

.bg-primary {
  cursor: pointer; }

.bg-primary:hover {
  color: #fff;
  background-color: #285f8f; }

.panel-info > .panel-heading {
  background-color: #ccdbfc; }

.well {
  border-radius: 0 0 6px 6px; }

.borders {
  border-radius: 6px 6px 0 0; }
